						<div class="brands_products"><!--brands_products-->
							<h2>Brand</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="{{ site.url }}/catenzo" title="Catenzo">Catenzo</a></li>
									<li><a href="{{ site.url }}/catenzo-junior" title="Catenzo Junior">Catenzo Junior</a></li>
									<li><a href="{{ site.url }}/raindoz" title="Raindoz">Raindoz</a></li>

									<!--
									<li><a href="{{ site.url }}/inficlo" title="Inficlo">Inficlo</a></li>
									<li><a href="{{ site.url }}/blackkelly" title="Blackkelly">Blackkelly</a></li>
									<li><a href="{{ site.url }}/hrcn" title="HRCN">HRCN</a></li>
									<li><a href="{{ site.url }}/tdlr" title="TDLR">TDLR</a></li>
									<li><a href="{{ site.url }}/java-seven" title="Java Seven">Java Seven</a></li>
									<li><a href="{{ site.url }}/cbr-six" title="CBR Six">CBR Six</a></li>
									<li><a href="{{ site.url }}/gshop-geearsy" title="G-SHOP dan Geearsy">G-SHOP dan Geearsy</a></li>
									<li><a href="{{ site.url }}/garsel-fashion" title="Garsel Fashion">Garsel Fashion</a></li>
									<li><a href="{{ site.url }}/garsel-shoes" title="Garsel Shoes">Garsel Shoes</a></li>
									<li><a href="{{ site.url }}/garucci" title="Garucci">Garucci</a></li>
									<li><a href="{{ site.url }}/polospedia" title="Polospedia">Polospedia</a></li>
									<li><a href="{{ site.url }}/ammar-kids" title="Ammar Kids">Ammar Kids</a></li>
									<li><a href="{{ site.url }}/trekking" title="Trekking">Trekking</a></li>
									<li><a href="{{ site.url }}/azzurra" title="Azzurra">Azzurra</a></li>									
									<li><a href="{{ site.url }}/everflow" title="Everflow">Everflow</a></li>
									<li><a href="{{ site.url }}/jk-collection" title="JK Collection">JK Collection</a></li>
									<li><a href="{{ site.url }}/gareu-fashion" title="Gareu Fashion">Gareu Fashion</a></li>
									<li><a href="{{ site.url }}/gareu-co" title="GAREU &#38; CO">GAREU &#38; CO</a></li>
									<li><a href="{{ site.url }}/thifla" title="Thifla">Thifla</a></li>
									<li><a href="{{ site.url }}/carion" title="Carion">Carion</a></li>
									<li><a href="{{ site.url }}/estilo" title="Estilo">Estilo</a></li>
									<li><a href="{{ site.url }}/bawang-maniak" title="Bawang Maniak">Bawang Maniak</a></li>
									<li><a href="{{ site.url }}/dotslashweb" title="dotslashweb" target="_blank">dotslashweb</a></li>
									-->
								</ul>
							</div>
						</div><!--/brands_products-->
