<b>Beli via:</b>
<a href="https://api.whatsapp.com/send?phone=+{{ site.nstelp }}&text={{ site.url }}{{ site.baseurl }}{{ page.url }}%20Saya%20mau%20beli%20ini%20kak." target="_blank" title="Beli via WhatsApp"><img src="{{ site.url }}/img/WhatsApp.png" alt="WhatsApp Icon" title="Beli via WhatsApp"></a>

<a href="{{ site.line }}" target="_blank" title="Beli via Line"><img src="{{ site.url }}/img/Line.png" alt="Line Icon" title="Beli via Line"></a>

<a href="bbmi://{{ site.bbm }}" target="_blank" title="Beli via BBM"><img src="{{ site.url }}/img/BBM.png" alt="BBM Icon" title="Beli via BBM"></a>

<a href="sms:+{{ site.nstelp }}?body={{ site.url }}{{ site.baseurl }}{{ page.url }}%20Saya%20mau%20beli%20ini%20kak." target="_blank" title="Beli via SMS"><img src="{{ site.url }}/img/SMS.png" alt="SMS Icon" title="Beli via SMS"></a>

<a href="mailto:{{ site.email }}" target="_blank" title="Beli via Email"><img src="{{ site.url }}/img/Email.png" alt="Email Icon" title="Beli via Email"></a>

<a href="tel:+{{ site.nstelp }}" target="_blank" title="Beli via Telpon"><img src="{{ site.url }}/img/Telpon.png" alt="Telpon Icon" title="Beli via Telpon"></a>