						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#pakaianpria" title="Pakaian Pria">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Pakaian Pria
										</a>
									</h3>
								</div>
								<div id="pakaianpria" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
<li><a href="{{ site.url }}/kaos-pria" title="Kaos Pria">Kaos Pria</a></li>
<li><a href="{{ site.url }}/kemeja-pria" title="Kemeja Pria">Kemeja Pria</a></li>
<li><a href="{{ site.url }}/pakaian-muslim-pria" title="Pakaian Muslim Pria">Pakaian Muslim Pria</a></li>
<li><a href="{{ site.url }}/jaket-motor-pria" title="Jaket Motor Pria">Jaket Motor Pria</a></li>
<li><a href="{{ site.url }}/jaket-sweater-hoodie-pria" title="Jaket Sweater Hoodie Pria">Jaket Sweater Hoodie Pria</a></li>
<li><a href="{{ site.url }}/jaket-sweater-rajut-pria" title="Jaket Sweater Rajut Pria">Jaket Sweater Rajut Pria</a></li>
<li><a href="{{ site.url }}/celana-pria" title="Celana Pria">Celana Pria</a></li>	
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#pakaianwanita" title="Pakaian Wanita">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Pakaian Wanita
										</a>
									</h3>
								</div>
								<div id="pakaianwanita" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
<li><a href="{{ site.url }}/dress" title="Dress">Dress</a></li>
<li><a href="{{ site.url }}/dress-rajut" title="Dress Rajut">Dress Rajut</a></li>
<li><a href="{{ site.url }}/kaos-wanita" title="Kaos Wanita">Kaos Wanita</a></li>
<li><a href="{{ site.url }}/overall-wanita" title="Overall Wanita">Overall Wanita</a></li>
<li><a href="{{ site.url }}/pakaian-muslim-wanita" title="Pakaian Muslim Wanita">Pakaian Muslim Wanita</a></li>
<li><a href="{{ site.url }}/mukena" title="Mukena">Mukena</a></li>
<li><a href="{{ site.url }}/jaket-sweater-hoodie-wanita" title="Jaket Sweater Hoodie Wanita">Jaket Sweater Hoodie Wanita</a></li>
<li><a href="{{ site.url }}/celana-wanita" title="Celana Wanita">Celana Wanita</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#pakaiananaklakilaki" title="Pakaian Anak Laki-Laki">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Pakaian Anak Laki-Laki
										</a>
									</h3>
								</div>
								<div id="pakaiananaklakilaki" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
<li><a href="{{ site.url }}/kaos-anak-laki-laki" title="Kaos Anak Laki-Laki">Kaos Anak Laki-Laki</a></li>
<li><a href="{{ site.url }}/kemeja-anak-laki-laki" title="Kemeja Anak Laki-Laki">Kemeja Anak Laki-Laki</a></li>
<li><a href="{{ site.url }}/pakaian-muslim-anak-laki-laki" title="Pakaian Muslim Anak Laki-Laki">Pakaian Muslim Anak Laki-Laki</a></li>
<li><a href="{{ site.url }}/jaket-sweater-anak-laki-laki" title="Jaket Sweater Anak Laki-Laki">Jaket Sweater Anak Laki-Laki</a></li>
<li><a href="{{ site.url }}/celana-anak-laki-laki" title="Celana Anak Laki-Laki">Celana Anak Laki-Laki</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#pakaiananakperempuan" title="Pakaian Anak Perempuan">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Pakaian Anak Perempuan
										</a>
									</h3>
								</div>
								<div id="pakaiananakperempuan" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
<li><a href="{{ site.url }}/dress-anak-perempuan" title="Dress Anak Perempuan">Dress Anak Perempuan</a></li>
<li><a href="{{ site.url }}/kaos-anak-perempuan" title="Kaos Anak Perempuan">Kaos Anak Perempuan</a></li>
<li><a href="{{ site.url }}/pakaian-muslim-anak-perempuan" title="Pakaian Muslim Anak Perempuan">Pakaian Muslim Anak Perempuan</a></li>
<li><a href="{{ site.url }}/mukena-anak" title="Mukena Anak">Mukena Anak</a></li>
<li><a href="{{ site.url }}/jaket-sweater-anak-perempuan" title="Jaket Sweater Anak Perempuan">Jaket Sweater Anak Perempuan</a></li>
<li><a href="{{ site.url }}/celana-anak-perempuan" title="Celana Anak Perempuan">Celana Anak Perempuan</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sandaldansepatupria" title="Sandal dan Sepatu Pria">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Sandal dan Sepatu Pria
										</a>
									</h3>
								</div>
								<div id="sandaldansepatupria" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
<li><a href="{{ site.url }}/sandal-pria" title="Sandal Pria">Sandal Pria</a></li>
<li><a href="{{ site.url }}/sandal-gunung-pria" title="Sandal Gunung Pria">Sandal Gunung Pria</a></li>
<li><a href="{{ site.url }}/sepatu-sandal-pria" title="Sepatu Sandal Pria">Sepatu Sandal Pria</a></li>
<li><a href="{{ site.url }}/sepatu-boots-pria" title="Sepatu Boots Pria">Sepatu Boots Pria</a></li>
<li><a href="{{ site.url }}/sepatu-gunung-pria" title="Sepatu Gunung Pria">Sepatu Gunung Pria</a></li>
<li><a href="{{ site.url }}/sepatu-pantofel-pria" title="Sepatu Pantofel Pria">Sepatu Pantofel Pria</a></li>
<li><a href="{{ site.url }}/sepatu-safety-pria" title="Sepatu Safety Pria">Sepatu Safety Pria</a></li>
<li><a href="{{ site.url }}/sepatu-sneakers-pria" title="Sepatu Sneakers Pria">Sepatu Sneakers Pria</a></li>
<li><a href="{{ site.url }}/sepatu-sport-pria" title="Sepatu Sport Pria">Sepatu Sport Pria</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sandaldansepatuwanita" title="Sandal dan Sepatu Wanita">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Sandal dan Sepatu Wanita
										</a>
									</h3>
								</div>
								<div id="sandaldansepatuwanita" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
<li><a href="{{ site.url }}/sandal-wanita" title="Sandal Wanita">Sandal Wanita</a></li>
<li><a href="{{ site.url }}/high-heels-wanita" title="High Heels Wanita">High Heels Wanita</a></li>
<li><a href="{{ site.url }}/wedges-wanita" title="Wedges Wanita">Wedges Wanita</a></li>
<li><a href="{{ site.url }}/sepatu-sandal-wanita" title="Sepatu Sandal Wanita">Sepatu Sandal Wanita</a></li>
<li><a href="{{ site.url }}/sepatu-boots-wanita" title="Sepatu Boots Wanita">Sepatu Boots Wanita</a></li>
<li><a href="{{ site.url }}/sepatu-flat-wanita" title="Sepatu Flat Wanita">Sepatu Flat Wanita</a></li>
<li><a href="{{ site.url }}/sepatu-pantofel-wanita" title="Sepatu Pantofel Wanita">Sepatu Pantofel Wanita</a></li>
<li><a href="{{ site.url }}/sepatu-sneakers-wanita" title="Sepatu Sneakers Wanita">Sepatu Sneakers Wanita</a></li>
<li><a href="{{ site.url }}/sepatu-sport-wanita" title="Sepatu Sport Wanita">Sepatu Sport Wanita</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sandaldansepatuanak" title="Sandal dan Sepatu Anak">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Sandal dan Sepatu Anak
										</a>
									</h3>
								</div>
								<div id="sandaldansepatuanak" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
<li><a href="{{ site.url }}/sandal-anak-balita-laki-laki" title="Sandal Anak Balita Laki-Laki">Sandal Anak Balita Laki-Laki</a></li>
<li><a href="{{ site.url }}/sandal-anak-balita-perempuan" title="Sandal Anak Balita Perempuan">Sandal Anak Balita Perempuan</a></li>
<li><a href="{{ site.url }}/sandal-anak-laki-laki" title="Sandal Anak Laki-Laki">Sandal Anak Laki-Laki</a></li>
<li><a href="{{ site.url }}/sandal-anak-perempuan" title="Sandal Anak Perempuan">Sandal Anak Perempuan</a></li>
<li><a href="{{ site.url }}/sandal-gunung-anak-laki-laki" title="Sandal Gunung Anak Laki-Laki">Sandal Gunung Anak Laki-Laki</a></li>
<li><a href="{{ site.url }}/sepatu-anak-balita-laki-laki" title="Sepatu Anak Balita Laki-Laki">Sepatu Anak Balita Laki-Laki</a></li>
<li><a href="{{ site.url }}/sepatu-anak-balita-perempuan" title="Sepatu Anak Balita Perempuan">Sepatu Anak Balita Perempuan</a></li>
<li><a href="{{ site.url }}/sepatu-sneakers-anak-laki-laki" title="Sepatu Sneakers Anak Laki-Laki">Sepatu Sneakers Anak Laki-Laki</a></li>
<li><a href="{{ site.url }}/sepatu-sneakers-anak-perempuan" title="Sepatu Sneakers Anak Perempuan">Sepatu Sneakers Anak Perempuan</a></li>
<li><a href="{{ site.url }}/sepatu-sport-anak-laki-laki" title="Sepatu Sport Anak Laki-Laki">Sepatu Sport Anak Laki-Laki</a></li>
<li><a href="{{ site.url }}/sepatu-sport-anak-perempuan" title="Sepatu Sport Anak Perempuan">Sepatu Sport Anak Perempuan</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#tasdandompet" title="Tas dan Dompet">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Tas dan Dompet
										</a>
									</h3>
								</div>
								<div id="tasdandompet" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
<li><a href="{{ site.url }}/tas-ransel-unisex" title="Tas Ransel Unisex">Tas Ransel Unisex</a></li>
<li><a href="{{ site.url }}/tas-selempang-pria" title="Tas Selempang Pria">Tas Selempang Pria</a></li>
<li><a href="{{ site.url }}/tas-gunung-carrier" title="Tas Gunung Carrier">Tas Gunung Carrier</a></li>
<li><a href="{{ site.url }}/tas-laptop" title="Tas Laptop">Tas Laptop</a></li>
<li><a href="{{ site.url }}/tas-ransel-wanita" title="Tas Ransel Wanita">Tas Ransel Wanita</a></li>
<li><a href="{{ site.url }}/tas-selempang-wanita" title="Tas Selempang Wanita">Tas Selempang Wanita</a></li>
<li><a href="{{ site.url }}/tas-anak" title="Tas Anak">Tas Anak</a></li>
<li><a href="{{ site.url }}/dompet-wanita" title="Dompet Wanita">Dompet Wanita</a></li>
										</ul>
									</div>
								</div>
							</div>													
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#aksesoris" title="Aksesoris">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Aksesoris
										</a>
									</h3>
								</div>
								<div id="aksesoris" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
<li><a href="{{ site.url }}/ikat-pinggang" title="Ikat Pinggang">Ikat Pinggang</a></li>
<li><a href="{{ site.url }}/topi" title="Topi">Topi</a></li>
<li><a href="{{ site.url }}/sarung-tangan" title="Sarung Tangan">Sarung Tangan</a></li>
<li><a href="{{ site.url }}/jas-hujan" title="Jas Hujan">Jas Hujan</a></li>
<li><a href="{{ site.url }}/matras" title="Matras">Matras</a></li>
<li><a href="{{ site.url }}/sleeping-bag" title="Sleeping Bag">Sleeping Bag</a></li>
<li><a href="{{ site.url }}/selimut-bayi" title="Selimut Bayi">Selimut Bayi</a></li>
<li><a href="{{ site.url }}/gendongan-bayi" title="Gendongan Bayi">Gendongan Bayi</a></li>
<li><a href="{{ site.url }}/kasur-bayi" title="Kasur Bayi">Kasur Bayi</a></li>
										</ul>
									</div>
								</div>
							</div>													

						</div><!--/category-products-->