	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>{{ site.author }}</span></h2>
							<h3>Peluang usaha dropship / reseller fashion Bandung. Grosir sepatu, jaket, baju murah. Murahnya berlipat-lipat.</h3>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="{{ site.url }}/sepatu-sneakers-anak-laki-laki" title="Sepatu Anak">
									<div class="iframe-img">
										<img src="https://images.lipatan.com/footer/646-rnc-015.jpg" title="Sepatu Anak" alt="Sepatu Anak" />
									</div>
									<div class="overlay-icon">
										
									</div>
								</a>
								<h2>Sepatu Anak</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="{{ site.url }}/sepatu-slip-on-pria" title="Sepatu Pria">
									<div class="iframe-img">
										<img src="https://images.lipatan.com/footer/265-lng-547.jpg" title="Sepatu Pria" alt="Sepatu Pria" />
									</div>
									<div class="overlay-icon">
										
									</div>
								</a>
								<h2>Sepatu Pria</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="{{ site.url }}/sepatu-flat-wanita" title="Sepatu Wanita">
									<div class="iframe-img">
										<img src="https://images.lipatan.com/footer/243-ak-014.jpg" title="Sepatu Wanita" alt="Sepatu Wanita" />
									</div>
									<div class="overlay-icon">
										
									</div>
								</a>
								<h2>Sepatu Wanita</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="{{ site.url }}/sandal-high-heels-wanita" title="Sandal Wanita">
									<div class="iframe-img">
										<img src="https://images.lipatan.com/footer/370-yt-046.jpg" title="Sandal Wanita" alt="Sandal Wanita" />
									</div>
									<div class="overlay-icon">
										
									</div>
								</a>
								<h2>Sandal Wanita</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address text-center">
							<a href="{{ site.url }}/dropship" title="Daftar Dropshipper"><img src="https://images.lipatan.com/footer/daftar-dropship.png" title="Daftar Dropshipper" alt="Daftar Dropshipper" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Layanan</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="{{ site.url }}/cara-pembelian" title="Cara Pembelian">Cara Pembelian</a></li>
								<li><a href="http://ongkir.lipatan.com" target="_blank" title="Ongkos Kirim">Ongkos Kirim</a></li>
								<li><a href="{{ site.url }}/konfirmasi-pembayaran" title="Konfirmasi Pembayaran">Pembayaran</a></li>
								<li><a href="http://stok.lipatan.com" target="_blank" title="Cek Stok">Cek Stok</a></li>
								<li><a href="http://resi.lipatan.com" target="_blank" title="Cek Resi">Cek Resi</a></li>				
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Kategori</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="{{ site.url }}/tas-ransel-unisex" title="Tas Ransel Unisex">Tas Ransel Unisex</a></li>
								<li><a href="{{ site.url }}/sepatu-pantofel-pria" title="Sepatu Pantofel Pria">Sepatu Pantofel Pria</a></li>
								<li><a href="{{ site.url }}/jaket-denim-pria" title="Jaket Denim Pria">Jaket Denim Pria</a></li>
								<li><a href="{{ site.url }}/dompet-pria" title="Dompet Pria">Dompet Pria</a></li>
								<li><a href="{{ site.url }}/dress" title="Dress">Dress</a></li>											
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Ukuran</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="{{ site.url }}/ukuran-gamis-dan-baju-koko" title="Ukuran Gamis dan Baju Koko">Gamis dan Baju Koko</a></li>
								<li><a href="{{ site.url }}/ukuran-kaos-dewasa" title="Ukuran Kaos Dewasa">Kaos Dewasa</a></li>
								<li><a href="{{ site.url }}/ukuran-pakaian-anak" title="Ukuran Pakaian Anak">Pakaian Anak</a></li>
								<li><a href="{{ site.url }}/ukuran-sepatu-sandal-dewasa" title="Ukuran Sepatu dan Sandal Dewasa">Sepatu dan Sandal</a></li>
								<li><a href="{{ site.url }}/ukuran-jaket-sweater-dewasa" title="Ukuran Jaket dan Sweater Dewasa">Jaket dan Sweater</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Informasi</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="{{ site.url }}/hubungi-kami" title="Hubungi Kami">Hubungi Kami</a></li>
								<li><a href="{{ site.url }}/syarat-ketentuan" title="Syarat dan Ketentuan">Syarat dan Ketentuan</a></li>
								<li><a href="{{ site.url }}/retur-barang" title="Retur Barang">Retur Barang</a></li>
								<li><a href="{{ site.url }}/dropship" title="Dropship">Dropship</a></li>
								<li><a href="{{ site.url }}/sizechart" title="Size Chart">Size Chart</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>Mau Diskon ???</h2>
							<form class="searchform" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=lipataninfo', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
								<input type="text" placeholder="Your email address" name="email" />
								<input type="hidden" value="lipataninfo" name="uri"/>
								<input type="hidden" name="loc" value="en_US"/>
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Yuks masukkan email Anda untuk info <br>diskon, produk terbaru &#38; promo lainnya</p>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright &copy; 2014 - <script type="text/javascript">document.write(new Date().getFullYear());</script> <span><a  href="{{ site.url }}" title="Home">{{ site.author }}</a></span>. All rights reserved.</p>
					<p class="pull-right">Redesigned by <span><a href="https://www.lipatan.com/dotslashweb" target="_blank" title="Jasa Pembuatan Website">dotslashweb</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->