		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="sms:+{{ site.nstelp }}?body={{ site.url }}{{ site.baseurl }}{{ page.url }}%20Saya%20mau%20beli%20ini%20kak." target="_blank" title="SMS"><i class="fa fa-phone"></i> {{ site.telp }}</a></li>
								<li><a href="mailto:{{ site.email }}" target="_blank" title="Email"><i class="fa fa-envelope"></i> {{ site.email }}</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="{{ site.facebook }}" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="{{ site.twitter }}" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="{{ site.google-plus }}" target="_blank" title="Google+"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		