		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="{{ site.url }}" title="Home - {{ site.author }}"><img src="{{ site.url }}/{{ site.logo-rectangle }}" height="40" width="140" title="Home - {{ site.author }}" alt="logo {{ site.author }}" /></a>
						</div>
					</div>					
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="http://stok.lipatan.com" title="Cek Stok" target="_blank"><i class="fa fa-star"></i> Cek Stok</a></li>
								<li><a href="{{ site.url }}/kategori" title="Kategori Produk"><i class="fa fa-crosshairs"></i> Kategori Produk</a></li>
								<li><a href="{{ site.url }}/hubungi-kami" title="Hubungi Kami"><i class="fa fa-user"></i> Hubungi Kami</a></li>	
							</ul>
						</div>
					</div>					
				</div>
			</div>
		</div><!--/header-middle-->