	<div id="my-welcome-message">
        <h2 style="font-size: 22px; font-weight: 700;">Mau DISKON ?</h2>
         <p>Yuks masukkan email Anda untuk info diskon, produk terbaru &#38; promo lainnya <a style="text-decoration: none; color: #ffffff" href="https://feedburner.google.com/fb/a/mailverify?uri=lipataninfo&amp;loc=en_US" target="_blank" title="Subscribe LIPATAN"><b>DISINI</b></a></p>

   		<script>
			$(function () {
				$('#my-welcome-message').firstVisitPopup({
				cookieName : 'homepage'
				});
			});
		</script>

    </div>