<div class="blog-image">
<b>Share:</b>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" title="Bagikan via Facebook"><img src="{{ site.url }}/img/fb-share.png" alt="Facebook Icon" title="Bagikan via Facebook"></a>

<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" title="Bagikan via Twitter"><img src="{{ site.url }}/img/twitter-share.png" alt="Twitter Icon" title="Bagikan via Twitter"></a>

<a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" title="Bagikan via Google Plus"><img src="{{ site.url }}/img/googleplus-share.png" alt="Google Plus Icon" title="Bagikan via Google Plus"></a>

<a href="mailto:?subject={{ page.title }}&amp;body={{ page.product }}.%20{{ page.description }}.%20Kunjungi%20{{ site.url }}{{ site.baseurl }}{{ page.url }}%20untuk%20info%20lebih%20lengkap.%20Terima%20kasih." target="_blank" title="Bagikan via Email"><img src="{{ site.url }}/img/email-share.png" alt="Email Icon" title="Bagikan via Email"></a>

<a href="https://api.whatsapp.com/send?text={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" title="Bagikan via WhatsApp"><img src="{{ site.url }}/img/whatsapp-share.png" alt="WhatsApp Icon" title="Bagikan via WhatsApp"></a>
</div>