<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>{{ site.author }}</span></h1>
									<h2>Dress</h2>
									<p>Jual dress murah dan keren. Tampil trendy dengan dress keren buatan Bandung. Cocok untuk hadiah orang yang Anda sayangi agar terlihat lebih gaya, tampil berbeda dan percaya diri. </p>
									<a href="{{ site.url }}/inficlo/dress-atasan-baju-rajut-wanita-sad-244" title="Get it now">
										<script type="text/javascript">
										<!--
										document.write(unescape('%3c%62%75%74%74%6f%6e%20%74%79%70%65%3d%22%62%75%74%74%6f%6e%22%20%63%6c%61%73%73%3d%22%62%74%6e%20%62%74%6e%2d%64%65%66%61%75%6c%74%20%67%65%74%22%3e%47%65%74%20%69%74%20%6e%6f%77%3c%2f%62%75%74%74%6f%6e%3e'));
										//-->
										</script>
									</a>
								</div>
								<div class="col-sm-6">
									<img src="https://images.lipatan.com/katalog-inficlo-2017/foto-produk-satuan/1-sad-244.jpg" class="girl img-responsive" title="Dress" alt="dress" />
									<img src="{{ site.url }}/img/pricing1.png"  class="pricing" title="Pricing" alt="pricing" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h2><span>Baju Anak Perempuan</span></h2>
									<h3>Jual baju anak perempuan murah dan keren</h3>
									<p>Bosan dengan produk fashion anak yang ada di pasar atau mall? Gak cuma orang dewasa, anak-anak pun ingin tampil trendy. Dengan produk baju anak perempuan buatan Bandung ini membuat anak Anda semakin terlihat gaya, trendy dan berbeda. </p>
									<a href="{{ site.url }}/catenzo-junior/dress-anak-perempuan-cms-001" title="Get it now">
										<script type="text/javascript">
										<!--
										document.write(unescape('%3c%62%75%74%74%6f%6e%20%74%79%70%65%3d%22%62%75%74%74%6f%6e%22%20%63%6c%61%73%73%3d%22%62%74%6e%20%62%74%6e%2d%64%65%66%61%75%6c%74%20%67%65%74%22%3e%47%65%74%20%69%74%20%6e%6f%77%3c%2f%62%75%74%74%6f%6e%3e'));
										//-->
										</script>
									</a>
								</div>
								<div class="col-sm-6">
									<img src="https://images.lipatan.com/katalog-catenzo-junior-2017/foto-produk-satuan/312-cms-001.jpg" class="girl img-responsive" title="Baju Anak Perempuan" alt="Baju Anak Perempuan" />
									<img src="{{ site.url }}/img/pricing2.png"  class="pricing" title="Pricing" alt="pricing" />
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h2><span>Sepatu Kets Pria</span></h2>
									<h3>Jual sepatu kets pria murah dan keren</h3>
									<p>Tampil trendy dengan sepatu kets pria keren buatan Bandung. Cocok untuk hadiah orang yang Anda sayangi agar terlihat lebih gaya, tampil berbeda dan percaya diri. </p>
									<a href="{{ site.url }}/catenzo/sepatu-sneakers-kets-pria-ba-5022" title="Get it now">
										<script type="text/javascript">
										<!--
										document.write(unescape('%3c%62%75%74%74%6f%6e%20%74%79%70%65%3d%22%62%75%74%74%6f%6e%22%20%63%6c%61%73%73%3d%22%62%74%6e%20%62%74%6e%2d%64%65%66%61%75%6c%74%20%67%65%74%22%3e%47%65%74%20%69%74%20%6e%6f%77%3c%2f%62%75%74%74%6f%6e%3e'));
										//-->
										</script>
									</a>
								</div>
								<div class="col-sm-6">
									<img src="https://images.lipatan.com/katalog-catenzo-2017/foto-produk-satuan/27-ba-5022.jpg" class="girl img-responsive" title="Sepatu Kets Pria" alt="Sepatu Kets Pria" />
									<img src="{{ site.url }}/img/pricing3.png" class="pricing" title="Pricing" alt="pricing" />
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev" title="Previous">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next" title="Next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->